<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/vue/vue.js"></script>

    @* Good to have in more than 1 page applications. *@
    @* IMP - Make sure that your script is running after al the necessary scripts are loaded!! *@
    @RenderSection("scripts", required: false);
</body>
</html>